.my_self {
  background-color: #11aa11;
  /* transform:rotate(-5deg); */

  /* 上右下左 */
  margin: 1px 1% 10px 1%;
  padding: 0px 1% 10px 1%;

  font-weight: bold;
  /* border: solid 5px #ffffff; */
  color: #ffffff;

  display: block;
  width: 96%;
  /* height: 100px; */
}
.my_self_text {
  background-color: #ffffff;
  color: #111111;
  text-align: center;
  display: block;

  /* 上右下左 */
  margin: 0px 0% 0px 0%;
  padding: 0px 0% 0px 0%;
}
.my_self_h1 {
  text-align: center;
  margin: 0% 0% 0% 0%;
  padding: 0% 0% 0% 0%;
}

.my_self_text_p {
  margin: 0;
  padding: 0;
}

summary {
  list-style: none;
  font-weight: bold;
  padding: 0px 0px 0px 0px;
  cursor: pointer;
}

details[open] div {
  animation: accordion 0.4s linear;

  overflow: hidden;
}

@keyframes accordion {
  0% {
    opacity: 0;
    height: 0;
  }
  70% {
    opacity: 0;
    /* //height: auto; //コレだとカクカクする */
    height: 200px;
  }
  100% {
    opacity: 1;
  }
}
