:root {
  --header-height-max: 100px;
  --header-height-min: 20px;
  --header-element-width: 500px;
}
.mainView {
  margin: 0px 0px 0px 0px;
  padding: 0px 10px 0px 10px;
  width: 100%;
  position: absolute;
  top: 100px;
}
body {
  background-color: #ffffff;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #007fff;
  margin: 0px 0px 10px 0px;
}
