header {
  min-width: 100%;
  background-color: #555555;

  position: fixed;

  margin: 0px;
  padding: 0px;

  z-index: 100;
  top: 0;
  left: 0px;
}

.div_header_width {
  width: 100vw;
  overflow: scroll;
}

.div_header {
  height: var(--header-height);

  margin: 0px;
  padding: 0px;
  position: relative;

  min-width: 100vw;
  width: fit-content;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* 
@keyframes open_header {
  0% {
    height: var(--header-height-min);
  }
  100% {
    height: var(--header-height-max);
  }
}
@keyframes close_header {
  0% {
    height: var(--header-height-max);
  }
  100% {
    height: var(--header-height-min);
  }
} */
