.logo_main {
  width: var(--header-element-width); /* 横幅のサイズを指定    */
  height: var(--header-height-logo); /*縦幅のサイズを指定    */
  background-color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
  /* z-index: 101; */

  /* border-radius: 20%; */

  cursor: var(--cursor_button);
}

.logo_text {
  width: var(--header-element-width); /* 幅指定 */
  height: var(--header-height-logo); /* 高さ指定 */
  margin: 0px;
  position: absolute;
  text-align: center;
}

.logo_main_p {
  margin: 0;
  position: absolute;
  width: var(--header-element-width); /* 幅指定 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  font-family: sans-serif;
  font-weight: 300;
}

.logo_pic {
  position: absolute;

  width: var(--header-element-width); /* 横幅のサイズを指定    */
  height: var(--header-height-logo); /* 縦幅のサイズを指定    */
  /* top: 0px; */
  margin: 0px;

  animation-fill-mode: forwards;
  animation-duration: 1s;

  opacity: var(--header-element-pic-opacity);
}
/* 
@keyframes open_header_logo_pic {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes close_header_logo_pic {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */
