footer {
  width: 100%;
  height: var(--footer-height);
  background-color: #007fff;
  margin: 20px 0px 0px 0px;
  padding: 10px 0px 0px 0px;
  /* 
  position: absolute;
  bottom: 0; */
}

footer > p {
  text-align: center;
  color: #ffffff;
}
