.my_self {
    background-color:#119911;
    /* transform:rotate(-5deg); */
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 5px #119911;
    color: #ffffff;
    width: 95%;
}
.ps{
  background-color:#ffffff;
  color: #111111;
  height:500px;
  text-align: center;
  width: 99%;
}
.my_self_text {
    margin: 0; 
    padding: 0;
}