.div_TextComponentEn {
  display: flex;
  flex-direction: row;
  justify-content: flex-starts;
  align-items: center;
}

.div_CharComponent {
  font-size: 100px;
}

.div_NotCpace {
}

.div_CharCpace {
  width: 50px;
}

.div_TextComponentEn {
  height: 100px;
}

.div_CharComponent > .UnansweredColor {
  color: rgba(100, 100, 100, 0);
  background-color: rgba(0, 0, 0, 0.1);
}
.div_CharComponent > .UnansweredColor_Miss {
  color: rgb(100, 100, 100);
}
.div_CharComponent > .NowColor {
  color: rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 200);
}

.div_CharComponent > .MissColor {
  color: rgb(200, 100, 100);
}

.div_CharComponent > .CorrectColor {
  color: rgb(100, 200, 100);
}
